include ../mixins/icon

block variables

doctype html
html(lang='ru')
    head
        link(type="image/x-icon" rel="shortcut icon" href="/assets/img/favicon.ico")
        title #{title}
        meta(name="description" content=`${description}`)
    body
        block content
