extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content
    h1 1 Task. Canvas.

    canvas#stars(style="width: 600px; height: 600px;")
    canvas#result(style="width: 600px; height: 50px;")
