@import "~normalize.css";

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

html {
  font-family: 'Roboto', sans-serif;

  h1 {
    color: cyan;
  }
}

.test {
  width: 200px;
}
